.notice-container{
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.notice-container img{
  height: 140px;
  max-height: 270px;
}
.notice-container .content{
  width: 100%;
  padding: 96px;
  background: #f0f0f5;
  box-shadow: 0 0 100px rgba(0,0,0,0.1);
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notice-container .content section{
  width: 100%;
  max-width: 380px;
}
.notice-container .content section h1{
  margin: 64px 0 32px;
  font-size: 32px;
}
.notice-container .content section p{
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}
.notice-container .content form{
  width: 100%;
  max-width: 450px;
}
.notice-container .content form input{
  margin-top: 8px;
  margin-left: 10vh;
  width: 50vh;
  height: 5vh;
}
.notice-container .content form .input-group{
  display: flex;
}
.notice-container .content form input + input{
  display: flex;
}

.button {
  width: 50vh;
  margin-left: 70px;
  margin-top: 30px;
}

.botao:hover {
  background-color: #015F9D;
  color: #fff;
  transition-duration: 0.2s;
}
